---
import Button from "../elements/Button.vue";
import H2 from "../elements/headers/H2.astro";
import type { PlaceCard } from "./PlaceCard";
import { Image } from "astro:assets";

type Props = {
    item: PlaceCard;
};

const { item } = Astro.props;

const { image, title, content, href } = item;
---

<article>
    <div class="flex flex-col items-center gap-4 md:flex-row">
        {
            image && (
                <Image
                    src={image}
                    alt={title}
                    width={600}
                    height={500}
                    class="w-full rounded-xl object-cover md:max-w-[400px]"
                    format="avif"
                />
            )
        }

        <div
            class="flex w-full flex-col items-center gap-4 py-4 md:items-start"
        >
            <H2 classList="hidden md:block" color="coral">{title}</H2>
            <slot />
            <div class="flex items-center justify-center">
                <Button size="lg" href={href}>
                    {content}
                </Button>
            </div>
        </div>
    </div>
</article>
