---
import HeaderContent from "@/components/HeaderContent.astro";
import ContentLayout from "@/layouts/ContentLayout.astro";

import {
    getCollection,
    getEntries,
    render,
    type CollectionEntry,
} from "astro:content";

import { Image } from "astro:assets";
import SerifBody from "@/components/elements/body/SerifBody.astro";
import H3 from "@/components/elements/headers/H3.vue";
import LargePromotionalItem from "@/components/businesses/LargePromotionalItem.astro";
import { getEntry } from "astro:content";
import type { PlaceCard } from "@/components/placeCards/PlaceCard";
import { getPlaceCardsFromBusinesses } from "@/scripts/placeCard/handler";
import ContentCollectionItem from "@/components/elements/contentCollectionWrapper/ContentCollectionItem.astro";
import Section from "@/components/elements/sections/FloatSection.astro";
import ScreenWidth from "@/components/elements/ScreenWidth.vue";
import PromotedTags from "@/components/elements/promos/PromotedTags.astro";
import { getPlaceCardRefs } from "@/scripts/placeCard/genericPlaceCard/getPlaceCardRefs";
import Socials from "@/components/businesses/Socials.astro";
import SimilarArticles from "@/components/pages/articles/SimilarArticles.astro";
import PromoBanner from "@/components/elements/promos/PromoBanner.vue";

export async function getStaticPaths() {
    const article: CollectionEntry<"articles">[] =
        await getCollection("articles");
    return article.map((articles) => ({
        params: { slug: articles.id },
        props: articles,
    }));
}

type Props = CollectionEntry<"articles">;

const entry: Props = Astro.props;
const {
    name,
    description,
    categories,
    tags,
    bannerImage,
    heroImage,
    author,
    promotedBusiness,
} = entry.data;

const { Content } = await render(entry);

const categoryItems = await getEntries(categories);

const tagItems = await getEntries(tags);

const promoTagRefs = getPlaceCardRefs("tags", tagItems);

let promotedCard: PlaceCard | undefined = undefined;

if (promotedBusiness !== undefined) {
    const promoBusinessEntry = await getEntry(
        "businesses",
        promotedBusiness.id
    );

    if (promoBusinessEntry === undefined) {
        throw new Error("Promoted business not found");
    }

    let promotedCards = await getPlaceCardsFromBusinesses(
        [promoBusinessEntry],
        900
    );
    promotedCard = promotedCards[0];
}

const advertisingPromo = await getEntry("prices", "promotion");

if (advertisingPromo === undefined) {
    throw new Error(`advertisment 'promotion' does not exist`);
}

const contactPromo = await getEntry("prices", "contact");

if (contactPromo === undefined) {
    throw new Error(`advertisment 'contact' does not exist`);
}
---

<ContentLayout
    title={name}
    description="Sharrow Vale Blog"
    image={bannerImage}
    HeaderContent={HeaderContent}
>
    <ScreenWidth>
        <div id="pagefind-metadata">
            <h1 class="hidden" data-pagefind-sort="title">{name}</h1>
            <p
                class="hidden"
                data-pagefind-meta="content[data-src]"
                data-src={description}
            >
            </p>
            <Image
                class="hidden"
                data-pagefind-meta="image[src], image_alt[alt]"
                src={heroImage}
                alt={name}
            />

            {
                categoryItems.map((category) => (
                    <p class="hidden" data-pagefind-filter="category">
                        {category.data.name}
                    </p>
                ))
            }
        </div>

        <div data-pagefind-body id="article">
            <section id="article-content">
                <Content />
            </section>

            <aside class="flex flex-col gap-4">
                <section id="article-promotion">
                    {
                        promotedCard !== undefined && (
                            <div class="h-[400px]">
                                <LargePromotionalItem card={promotedCard} />
                            </div>
                        )
                    }
                </section>

                <section
                    id="article-tags"
                    class="flex flex-col items-center gap-2 pb-6 md:items-end"
                >
                    <PromotedTags
                        title="Article Tags"
                        pagefindMetadata="tags"
                        side="right"
                        size="sm"
                        promotedItems={promoTagRefs}
                    />
                </section>

                <section
                    id="article-author"
                    class="flex flex-col items-center gap-2 pb-6 md:items-end"
                >
                    <H3 color="coral">Contributors</H3>
                    <SerifBody position="center">{author}</SerifBody>
                </section>

                <section
                    id="article-share"
                    class="flex flex-col items-center gap-2 md:items-end"
                >
                    <H3 color="coral">Share</H3>

                    <Socials
                        instagramLink={"#instagram"}
                        websiteLink={"#website"}
                        facebookLink={"#facebook"}
                    />
                </section>

                <div class="relative h-full">
                    <div class="sticky top-[5%]">
                        <div class="flex flex-col gap-3">
                            <section>
                                <PromoBanner
                                    pricingPromotion={advertisingPromo}
                                    style="primary"
                                />
                            </section>
                            <section>
                                <PromoBanner
                                    pricingPromotion={contactPromo}
                                    style="secondary"
                                />
                            </section>
                        </div>
                    </div>
                </div>
            </aside>

            <Section
                id="article-more"
                pagefindIgnore={true}
                classList="items-center"
            >
                <SimilarArticles articleId={entry.id} />
            </Section>
        </div>
    </ScreenWidth>
</ContentLayout>

<style>
    #article-content > :global(img) {
        float: left;
        object-fit: cover;
        @apply mb-4 me-4 aspect-[3/2] w-full rounded-xl md:aspect-[4/5] md:w-[50%];
    }

    #article-content > :global(h1) {
        display: flex;
        width: 100%;
        @apply mb-1 mt-4 font-merriweather text-2xl font-normal capitalize text-coral md:text-3xl lg:text-4xl;
    }

    #article-content > :global(h2) {
        display: flex;
        width: 100%;
        @apply mb-1 mt-4 font-merriweather text-xl font-normal capitalize text-coral md:text-2xl lg:text-3xl;
    }

    #article-content > :global(h3) {
        @apply mb-2 font-merriweather text-lg md:text-xl lg:text-2xl;
    }

    #article-content > :global(p),
    #article-content :not(.collection-component) :global(td) {
        @apply mb-6 font-lato text-xl font-light leading-6 no-underline;
    }

    #article-content > :global(a) {
        @apply text-coral underline;
    }

    #article-content > :global(a:hover) {
        @apply font-normal;
    }

    #article-content > {
        grid-area: content;
    }

    aside {
        grid-area: aside;
    }

    :global(#article-more) {
        grid-area: more;
    }

    #article {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    @media screen and (min-width: 48rem) {
        #article {
            display: grid;
            gap: 2rem;
            grid-template-columns: 2fr 1fr;

            grid-template-areas:
                "content aside"
                "more more";
        }
    }
</style>
