---
import H2 from "@/components/elements/headers/H2.astro";
import SearchWrapper from "@/components/search/SearchWrapper.vue";

import ContentLayout from "@/layouts/ContentLayout.astro";
import HeaderContent from "@/components/HeaderContent.astro";

import bannerImage from "@/assets/images/category/guest-road.jpg";
import Section from "@/components/elements/sections/FloatSection.astro";

import type { PlaceCard } from "@/components/placeCards/PlaceCard";
import { getCollection, type CollectionEntry } from "astro:content";
import {
    getPlaceCards,
    getPlaceCardsFromArticles,
} from "@/scripts/placeCard/handler";
import ScreenWidth from "@/components/elements/ScreenWidth.vue";
import PlaceCardGrid from "@/components/placeCards/PlaceCardGrid.astro";
import type { PlaceCardRef } from "@/components/placeCards/PlaceCardRef";
import { getPlaceCardRefs } from "@/scripts/placeCard/genericPlaceCard/getPlaceCardRefs";

const upcomingEvents: CollectionEntry<"events">[] = await getCollection(
    "events",
    (event) => {
        console.log(
            event.data.dateTimes.filter((dt) => new Date(dt) >= new Date())
        );
        return (
            event.data.dateTimes.filter((dt) => new Date(dt) >= new Date())
                .length > 0
        );
    }
);

console.log(upcomingEvents);

const upcomingEventItems: PlaceCardRef[] = getPlaceCardRefs(
    "articles",
    upcomingEvents
);
const upcomingEventPlaceCards = await getPlaceCards(upcomingEventItems, 800);

// const eventPlaceCards: PlaceCard[] = await getPlaceCardsFromArticles(events);

// get every category except for the directory and events
const searchCategoryCollection = await getCollection(
    "categories",
    (category) => ["directory", "events"].includes(category.id) == false
);

const searchCategories = searchCategoryCollection.map(
    (category) => category.data.name
);

const pricing = await getCollection("prices");

const advertisingPromotion = pricing.filter(
    (price) => price.id === "promotion"
)[0];
---

<ContentLayout
    title="News & Updates"
    description="what's happening in the area"
    image={bannerImage}
    HeaderContent={HeaderContent}
    pagefindIgnore={true}
>
    <ScreenWidth classList="md:gap-10 gap-6">
        <Section floatIn={true} classList="items-center">
            <H2 color="coral"> Find out what's happening in The Vale </H2>
        </Section>
        <Section floatIn={true}>
            <SearchWrapper
                client:only="vue"
                requiredCategories={searchCategories}
                isGridLayout={false}
                pricingPromotion={advertisingPromotion}
            />
        </Section>

        {
            upcomingEventPlaceCards.length > 0 && (
                <Section floatIn={true} classList="items-center">
                    <PlaceCardGrid
                        placeCards={upcomingEventPlaceCards}
                        title="Upcoming Events"
                    />
                </Section>
            )
        }
    </ScreenWidth>
</ContentLayout>
