---
import H2 from "@/components/elements/headers/H2.astro";
import SearchWrapper from "@/components/search/SearchWrapper.vue";

import ContentLayout from "@/layouts/ContentLayout.astro";
import HeaderContent from "@/components/HeaderContent.astro";

import bannerImage from "@/assets/images/category/guest-road.jpg";
import Section from "@/components/elements/section.astro";
import PlaceCardGrid from "@/components/placeCards/PlaceCardGrid.vue";

import type { PlaceCard } from "@/components/placeCards/PlaceCard";
import { getCollection, type CollectionEntry } from "astro:content";
import { getPlaceCardsFromArticles } from "@/scripts/placeCard/handler";
import ScreenWidth from "@/components/elements/ScreenWidth.astro";

const events: CollectionEntry<"articles">[] = await getCollection(
    "articles",
    ({ data }) => data.categories.some((tag) => tag.slug === "events")
);

const eventPlaceCards: PlaceCard[] = await getPlaceCardsFromArticles(events);

const searchCategoryCollection = await getCollection(
    "categories",
    (category) => ["directory", "events"].includes(category.slug) == false
);

const searchCategories = searchCategoryCollection.map(
    (category) => category.data.name
);
---

<ContentLayout
    title="News & Updates"
    description="WHAT'S HAPPENING IN THE AREA"
    image={bannerImage}
    HeaderContent={HeaderContent}
    pagefindIgnore={true}
>
    <ScreenWidth>
        <Section floatIn={true}>
            <H2 color="coral" position="center"
                >Find out what's happening in The Vale</H2
            >

            <SearchWrapper
                client:only="vue"
                requiredCategories={searchCategories}
                isGridLayout={false}
            />
        </Section>

        <Section floatIn={true}>
            <H2 position="center" color="coral">Upcoming events</H2>

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
                {eventPlaceCards.map((event) => <PlaceCardGrid {...event} />)}
            </div>
        </Section>
    </ScreenWidth>
</ContentLayout>
