---
import ContentPromotions from "@/components/content/ContentPromotions.astro";
import H1 from "@/components/elements/headers/H1.astro";
import P from "@/components/elements/P.astro";
import SearchBox from "@/components/search/SearchBox.vue";
import SearchResults from "@/components/search/SearchResults.vue";
import SearchWrapper from "@/components/search/SearchWrapper.vue";
import ContentLayout from "@/layouts/ContentLayout.astro";
import { getCollection, getEntries, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
    const category: CollectionEntry<"category">[] =
        await getCollection("category");
    return category.map((business) => ({
        params: { slug: business.slug },
        props: business,
    }));
}

type Props = CollectionEntry<"category">;

const entry: Props = Astro.props;
const {
    name,
    description,
    bannerImage,
    promotedBusinesses,
    relatedCategories,
} = entry.data;

const businesses = await getEntries(promotedBusinesses);
const categories = await getEntries(relatedCategories);
---

<ContentLayout
    image={bannerImage}
    description={description}
    title={name}
    classList="gap-12 py-12"
>
    <P position="center">
        {description}
    </P>

    {
        businesses.length >= 4 && (
            <ContentPromotions businesses={businesses} classList="" />
        )
    }

    <SearchWrapper client:only="vue" requiredCategory={name} />

    {
        categories.length > 0 && (
            <section class="text-center">
                <H1 color="coral">Export more Categories</H1>
                <div>
                    <ul>
                        {categories.map((category) => (
                            <li>
                                <a href={`/category/${category.slug}`}>
                                    {category.data.name}
                                </a>
                            </li>
                        ))}
                    </ul>
                </div>
            </section>
        )
    }
</ContentLayout>
