---
import type { CollectionEntry } from "astro:content";
import LargePromotionalItem from "../businesses/LargePromotionalItem.astro";
import SmallPromotionalCard from "../placeCards/SmallPromotionalCard.vue";
import { getImage } from "astro:assets";
import type { PlaceCard } from "../placeCards/PlaceCard";

type Props = {
    businesses: CollectionEntry<"businesses">[];
    classList?: string;
}

const { businesses, classList } = Astro.props;

if (businesses.length < 4) {
    throw new Error("At least 4 businesses must be provided");
}

// Take the first item for primary and next 3 for secondary
const primaryItem = businesses[0];
const secondaryBusinesses = businesses.slice(1, 4);

const secondaryItems: PlaceCard[] = await Promise.all(secondaryBusinesses.map(async (item) => {
    
    let image = await getImage({src: item.data.heroImage,height: 400, width: 400});
    let imageUrl = image.src;

    return {
        title: item.data.name,
        image: imageUrl,
        href: `/businesses/${item.slug}`,
    }
}));

---

<section class:list={[`gap-4 h-[400px] lg:h-[600px]`, classList]}>
    {/* Primary promotional item - spans full height */}
    <div class="h-full">
        <LargePromotionalItem
            heroImageSrc={primaryItem.data.heroImage}
            name={primaryItem.data.name}
            description={primaryItem.data.description}
            href={`/businesses/${primaryItem.slug}`}
            className="h-full"
        />
    </div>

    {/* Secondary promotional items column */}
    <div class="grid grid-rows-3 gap-4 h-full">
        {
            secondaryItems.map((item) => (
                <SmallPromotionalCard
                    position="end"
                    card={item}
                />
            ))
        }
    </div>
</section>

<style>
    section {
        display: grid;
        grid-template-columns: 1fr 180px;
    }

    @media screen and (min-width: 768px) {
        section {
            grid-template-columns: 1fr 250px;
        }
    }

    @media screen and (min-width: 1200px) {
        section {
            grid-template-columns: 1fr 280px;
        }
    }
</style>
