---
import type { CollectionEntry } from "astro:content";
import LargePromotionalItem from "../businesses/LargePromotionalItem.astro";
import SmallPromotionalCard from "../placeCards/SmallPromotionalCard.vue";
import { getPlaceCardsFromBusinesses } from "@/scripts/placeCard/handler";

type Props = {
    businesses: CollectionEntry<"businesses">[];
    classList?: string;
};

const { businesses, classList } = Astro.props;

if (businesses.length < 4) {
    throw new Error("At least 4 businesses must be provided");
}

// Take the first item for primary and next 3 for secondary
const primaryBusiness = businesses[0];

const primaryItemPlaceCards = await getPlaceCardsFromBusinesses(
    [primaryBusiness],
    800
);
const primaryItem = primaryItemPlaceCards[0];

const secondaryItems = await getPlaceCardsFromBusinesses(
    businesses.slice(1, 4)
);
---

<section class:list={[`gap-4 h-[400px] lg:h-[600px]`, classList]}>
    {/* Primary promotional item - spans full height */}
    <div class="h-full">
        <LargePromotionalItem
            heroImageSrc={primaryItem.image}
            name={primaryItem.title}
            description={primaryBusiness.data.description}
            href={`/businesses/${primaryBusiness.slug}`}
            className="h-full"
        />
    </div>

    {/* Secondary promotional items column */}
    <div class="grid grid-rows-3 gap-4 h-full">
        {
            secondaryItems.map((item) => (
                <SmallPromotionalCard position="end" card={item} />
            ))
        }
    </div>
</section>

<style>
    section {
        display: grid;
        grid-template-columns: 1fr 180px;
    }

    @media screen and (min-width: 768px) {
        section {
            grid-template-columns: 1fr 250px;
        }
    }

    @media screen and (min-width: 1200px) {
        section {
            grid-template-columns: 1fr 280px;
        }
    }
</style>
