---
import HoverSection from "@/components/elements/sections/HoverSection.vue";
import SerifBody from "@/components/elements/body/SerifBody.astro";
import type { IconDefinition } from "@fortawesome/fontawesome-svg-core";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";

type Props = {
    iconDef: IconDefinition;
    text: string;
    href: string;
    classList?: string;
    animationDelay?: number;
};

const { iconDef, text, href, classList, animationDelay = 0 } = Astro.props;

const transitionDelay = `${animationDelay}ms`;
---

<HoverSection href={href} outerClassList={classList}>
    <div
        id="banner-box"
        class="flex animate-appear flex-col items-center justify-center text-white opacity-0"
    >
        <div class="flex flex-col items-center justify-center gap-4">
            <FontAwesomeIcon
                icon={iconDef}
                height={30}
                width={30}
                fontSize={30}
            />
            <SerifBody size="sm" color="white" position="center"
                >{text}</SerifBody
            >
        </div>
    </div>
</HoverSection>

<style define:vars={{ transitionDelay }}>
    #banner-box {
        animation-delay: var(--transitionDelay);
    }
</style>
