---
import HoverArticle from "@/components/elements/articles/HoverArticle.vue";
import SerifBody from "@/components/elements/body/SerifBody.astro";
import type { IconDefinition } from "@fortawesome/fontawesome-svg-core";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";

type Props = {
    iconDef: IconDefinition;
    text: string;
    href: string;
    classList?: string;
    animationDelay?: number;
};

const { iconDef, text, href, classList, animationDelay = 0 } = Astro.props;

const transitionDelay = `${animationDelay}ms`;
---

<HoverArticle href={href} outerClassList={classList}>
    <div
        id="banner-box"
        class="opacity-0 animate-appear flex flex-col items-center justify-center text-white"
    >
        <div class="flex flex-col items-center justify-center gap-3">
            <FontAwesomeIcon
                icon={iconDef}
                height={30}
                width={30}
                fontSize={30}
            />
            <SerifBody color="white" position="center">{text}</SerifBody>
        </div>
    </div>
</HoverArticle>

<style define:vars={{ transitionDelay }}>
    #banner-box {
        animation-delay: var(--transitionDelay);
    }
</style>
