---
import H1 from "@/components/elements/headers/H1.astro";
import MonoBody from "@/components/elements/body/MonoBody.astro";

import { faCalendarDays } from "@fortawesome/free-solid-svg-icons/faCalendarDays";
import { faCircleInfo } from "@fortawesome/free-solid-svg-icons/faCircleInfo";
import { faGem } from "@fortawesome/free-solid-svg-icons/faGem";
import { faScrewdriverWrench } from "@fortawesome/free-solid-svg-icons/faScrewdriverWrench";
import { faNewspaper } from "@fortawesome/free-solid-svg-icons/faNewspaper";
import { faArrowRight } from "@fortawesome/free-solid-svg-icons/faArrowRight";

import BannerBox from "./BannerBox.astro";
import ScreenWidth from "@/components/elements/ScreenWidth.astro";

import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";

type Props = {
    title: string;
    description?: string;
};

const { title, description } = Astro.props;
---

<div class="flex flex-col justify-center items-center text-center h-full">
    <div class="flex flex-col items-center gap-4">
        <div class="flex flex-col items-center gap-2">
            <MonoBody size="large">DISCOVER</MonoBody>
            <H1 color="coral">Sharrow Vale</H1>
            <MonoBody size="medium"
                >SHEFFIELD'S HOME FOR INDEPENDENT BUSINESSES</MonoBody
            >
        </div>
        <form
            class="bg-white w-full my-3 max-w-[500px] lg:max-w-[800px] rouded-full flex flex-row items-center gap-2 rounded-full p-2 px-3 lg:p-3 lg:px-4"
            action="/categories/directory"
            method="get"
        >
            <input
                name="search"
                type="text"
                class="w-full h-full p-2 leading-8 focus:outline-none text-md lg:text-xl"
                placeholder="Search for shops, blogs, events & more..."
            />
            <button class="bg-coral rounded-full text-white p-2 flex">
                <FontAwesomeIcon
                    icon={faArrowRight}
                    height={20}
                    width={20}
                    fontSize={20}
                />
            </button>
        </form>
    </div>
    <div class="absolute bottom-0 flex flex-row pb-8 items-center">
        <ScreenWidth>
            <div class="flex flex-row gap-6">
                <BannerBox
                    href="/categories/events"
                    iconDef={faCalendarDays}
                    text="Attend local events"
                />
                <BannerBox
                    classList="hidden md:flex"
                    href="/tags/cafe"
                    iconDef={faGem}
                    text="Discover a hidden gem"
                />
                <BannerBox
                    classList="hidden md:flex"
                    href="/categories/directory"
                    iconDef={faCircleInfo}
                    text="Discover businesses"
                />
                <BannerBox
                    href="/articles"
                    iconDef={faNewspaper}
                    text="News & Updates"
                />

                <BannerBox
                    href="/tag/tradespeople"
                    iconDef={faScrewdriverWrench}
                    text="Find local tradespeople"
                />
            </div>
        </ScreenWidth>
    </div>
</div>
