---
import HeaderContent from "@/components/HeaderContent.astro";
import ContentPromotions from "@/components/content/ContentPromotions.astro";
import Button from "@/components/elements/Button.vue";
import ContentCollectionItem from "@/components/elements/ContentCollectionItem.astro";
import H1 from "@/components/elements/headers/H1.astro";
import H2 from "@/components/elements/headers/H2.astro";
import Section from "@/components/elements/section.astro";
import SearchWrapper from "@/components/search/SearchWrapper.vue";
import ContentLayout from "@/layouts/ContentLayout.astro";
import { getPlaceCardsFromBusinesses } from "@/scripts/placeCard/handler";
import { getEntry } from "astro:content";
import { getCollection, getEntries, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
    const tag: CollectionEntry<"tags">[] = await getCollection(
        "tags",
        (tag) => tag.data.isPage
    );
    return tag.map((business) => ({
        params: { slug: business.slug },
        props: business,
    }));
}

type Props = CollectionEntry<"tags">;

const entry: Props = Astro.props;
const { name, description, bannerImage, promotedBusinesses, relatedTags } =
    entry.data;

if (bannerImage == null) {
    throw new Error("isPage tags must have banner images");
}

const { Content } = await entry.render();

const promoBusinesses = await getEntries(promotedBusinesses);

const promoBusinessPlaceCards =
    await getPlaceCardsFromBusinesses(promoBusinesses);

const promoCategories = await getEntries(relatedTags);

const tags = await getCollection("tags", (tag) => !tag.data.isVisible);

const hiddenTags = tags.map((tag) => tag.data.name);

const businesses = await getCollection("businesses", ({ data }) =>
    data.tags.map((tag) => tag.slug).includes(entry.slug)
);

const isGridLayout = businesses.length >= 6;

const directoryCategory = await getEntry("categories", "directory");

if (directoryCategory == null) {
    throw new Error("Directory category not found");
}
---

<ContentLayout
    image={bannerImage}
    title={name}
    description={description}
    classList="gap-8"
    HeaderContent={HeaderContent}
>
    <ContentCollectionItem position="center">
        <Content />
    </ContentCollectionItem>

    {
        promoBusinessPlaceCards.length == 4 && (
            <Section>
                <ContentPromotions
                    promotionPlaceCards={promoBusinessPlaceCards}
                />
            </Section>
        )
    }

    <SearchWrapper
        client:only="vue"
        requiredCategories={[directoryCategory.data.name]}
        requiredTag={name}
        isGridLayout={isGridLayout}
        hiddenTags={hiddenTags}
    />

    {
        promoCategories.length > 0 && (
            <section class="text-center">
                <H2 color="coral">Export more Categories</H2>
                <div class="py-3">
                    <ul class="flex flex-row justify-center flex-wrap gap-3">
                        {promoCategories.map((tag) => (
                            <li class="hover:scale-110 transition-all">
                                <Button href={`/tags/${tag.slug}`}>
                                    {tag.data.name}
                                </Button>
                            </li>
                        ))}
                    </ul>
                </div>
            </section>
        )
    }
</ContentLayout>
