---
import { faWhatsapp } from "@fortawesome/free-brands-svg-icons";
import { faEnvelope } from "@fortawesome/free-solid-svg-icons/faEnvelope";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";

import { YouTube } from "@astro-community/astro-embed-youtube";

import ScreenWidth from "@/components/elements/ScreenWidth.vue";
import HeaderContent from "@/components/HeaderContent.astro";
import ContentLayout from "@/layouts/ContentLayout.astro";
import H2 from "@/components/elements/headers/H2.astro";

import * as markdown from "@/content/pages/join/content.mdx";
import Button from "@/components/elements/Button.vue";
import { getEntry } from "astro:content";
import SerifBody from "@/components/elements/body/SerifBody.vue";

const Content = markdown.Content;

const { videoId, videoDescription, contactDescription } = markdown.frontmatter;

const whatsapp = await getEntry("contacts", "whatsapp");

if (whatsapp == undefined) {
    throw new Error("whatsapp not provided");
}

const email = await getEntry("contacts", "email");

if (email == undefined) {
    throw new Error("email not provided");
}
---


<ContentLayout
    description={"Interested in finding out more about the Sharrow Vale directory?"}
    title={"Join the directory"}
    HeaderContent={HeaderContent}
>
    <ScreenWidth classList="gap-8">
        <article data-pagefind-ignore="all">

            <section>
                <div class="block md:hidden">
                    <YouTube
                        class="m-auto max-w-full rounded-2xl"
                        id={videoId}
                        posterQuality="max"
                        title="Welcome to the Sharrow Vale Directory!"
                    />
                </div>
                <div
                    class="flex w-full max-w-screen-xl flex-col items-start gap-4 gap-x-6 pt-4"
                >
                    <H2>Hey! 👋</H2>
                    <p>{videoDescription}</p>
                    <div class="hidden h-full w-full md:block">
                        <YouTube
                            class="m-auto max-w-full rounded-2xl"
                            id={videoId}
                            posterQuality="max"
                            title="Welcome to the Sharrow Vale Directory!"
                        />
                    </div>
                </div>
            </section>

            <section id="blog-content">
                <Content />
            </section>

            <section class="flex flex-col items-start gap-4">
                <div>
                    <H2>Interested?</H2>
                    <SerifBody position="start">{contactDescription}</SerifBody>
                </div>

                <div class="flex flex-col items-start gap-2">
                    <Button type="coral" href={whatsapp.data.href}>
                        <FontAwesomeIcon
                            className="h-5 w-5"
                            icon={faWhatsapp}
                        />
                        <span class="lowercase">
                            {whatsapp.data.description}
                        </span>
                    </Button>

                    <Button type="coral" href={email.data.href}>
                        <FontAwesomeIcon
                            className="h-5 w-5"
                            icon={faEnvelope}
                        />
                        <span class="lowercase">
                            {email.data.description}
                        </span>
                    </Button>
                </div>
            </section>
        </article>
    </ScreenWidth>
</ContentLayout>

<style>
    #blog-content :global(img) {
        @apply float-left m-6 w-[50%] rounded-xl;
    }

    #blog-content :global(h2) {
        @apply mb-2 mt-[5.5rem] font-merriweather text-2xl font-normal capitalize leading-6 text-coral md:text-2xl lg:text-3xl;
    }

    #blog-content :global(h3) {
        @apply mb-2 mt-[2.5rem] font-lato text-xl text-coral;
    }

    #blog-content :global(h4 button) {
        text-align: start;
    }

    #blog-content :global(p),
    #blog-content :global(li) {
        @apply mb-5 mt-3 font-lato text-xl font-light leading-6 no-underline;
    }

    #blog-content :global(ul) {
        list-style: circle;
        margin-left: 1.5rem;
    }
</style>
