---
import { YouTube } from "@astro-community/astro-embed-youtube";

import ScreenWidth from "@/components/elements/ScreenWidth.vue";
import HeaderContent from "@/components/HeaderContent.astro";
import ContentLayout from "@/layouts/ContentLayout.astro";
import H2 from "@/components/elements/headers/H2.astro";
import BlogContentCollectionItem from "@/components/elements/contentCollectionWrapper/BlogContentCollectionItem.astro";

import * as markdown from "@/content/pages/join/content.mdx";

const Content = markdown.Content;

const { videoId, videoDescription, signupDescription } = markdown.frontmatter;
---

<ContentLayout
    description={"Interested in finding out more about the Sharrow Vale directory?"}
    title={"Join the directory"}
    HeaderContent={HeaderContent}
>
    <ScreenWidth classList="gap-8">
        <article data-pagefind-ignore="all">
            <div class="grid gap-[40px] px-9">
                <section>
                    <div class="block md:hidden">
                        <YouTube
                            class="m-auto max-w-full rounded-t-2xl"
                            id={videoId}
                            posterQuality="max"
                            title="Welcome to the Sharrow Vale Directory!"
                        />
                    </div>
                    <div
                        class="flex w-full max-w-screen-xl flex-col items-start gap-x-6 gap-y-6 rounded-b-2xl bg-white px-10 py-12 md:rounded-2xl"
                    >
                        <H2>Hey! 👋</H2>
                        <p>{videoDescription}</p>
                        <div class="hidden h-full w-full md:block">
                            <YouTube
                                class="m-auto max-w-full rounded-2xl"
                                id={videoId}
                                posterQuality="max"
                                title="Welcome to the Sharrow Vale Directory!"
                            />
                        </div>
                    </div>
                </section>

                <BlogContentCollectionItem>
                    <Content />
                </BlogContentCollectionItem>

                <section
                    class="grid w-full max-w-screen-xl grid-cols-1 gap-x-6 gap-y-6 rounded-2xl bg-white px-10 py-12 md:grid-cols-2"
                >
                    <div>
                        <H2>Interested?</H2>
                        <p>
                            {signupDescription}
                        </p>
                    </div>

                    <!-- <SignupForm url={Astro.url.host} /> -->
                </section>
            </div>
        </article>
    </ScreenWidth>
</ContentLayout>
