---
import HeaderContent from "@/components/HeaderContent.astro";
import ScreenWidth from "@/components/elements/ScreenWidth.astro";
import PromoBanner from "@/components/elements/promos/PromoBanner.vue";
import Section from "@/components/elements/section.astro";
import SiteSearchWrapper from "@/components/search/SiteSearchWrapper.vue";
import ContentLayout from "@/layouts/ContentLayout.astro";

import bannerImage from "@/assets/images/index/home/guest-road.jpg";
import H2 from "@/components/elements/headers/H2.astro";
const name = "Search";
---

<ContentLayout image={bannerImage} title={name} HeaderContent={HeaderContent}>
    <ScreenWidth classList="gap-8">
        <Section floatIn={true}>
            <H2 position="center" color="coral">Search the Site</H2>
        </Section>
        <Section floatIn={true}>
            <SiteSearchWrapper
                client:only="vue"
                requiredCategories={[]}
                hiddenTags={["directory"]}
                isGridLayout={true}
            />
        </Section>
        <PromoBanner callToAction="Advertise your business" />
    </ScreenWidth>
</ContentLayout>
