---
import HeaderContent from "@/components/HeaderContent.astro";
import ScreenWidth from "@/components/elements/ScreenWidth.vue";
import PromoBanner from "@/components/elements/promos/PromoBanner.vue";
import Section from "@/components/elements/sections/FloatSection.astro";
import SiteSearchWrapper from "@/components/search/SiteSearchWrapper.vue";
import ContentLayout from "@/layouts/ContentLayout.astro";

import bannerImage from "@/assets/images/index/home/guest-road.jpg";
import H2 from "@/components/elements/headers/H2.astro";
import { getCollection } from "astro:content";
const name = "Search";

const pricing = await getCollection("prices");

const advertisingPromotion = pricing.filter(
    (price) => price.id === "promotion"
)[0];
---

<ContentLayout image={bannerImage} title={name} HeaderContent={HeaderContent}>
    <ScreenWidth classList="gap-8">
        <Section floatIn={true}>
            <H2 position="center" color="coral">Search the Site</H2>
        </Section>
        <Section floatIn={true}>
            <SiteSearchWrapper
                client:only="vue"
                requiredCategories={[]}
                hiddenTags={["directory"]}
                isGridLayout={true}
                pricingPromotion={advertisingPromotion}
            />
        </Section>
    </ScreenWidth>
</ContentLayout>
