---
import { Picture } from "astro:assets";
import H2 from "../elements/headers/H2.astro";
import H1 from "../elements/headers/H1.astro";
import HoverArticle from "../elements/articles/HoverArticle.vue";

interface Props {
    heroImage?: ImageMetadata;
    heroImageSrc?: string;
    name: string;
    href: string;
    description: string;
    className?: string;
}

const {
    heroImage,
    heroImageSrc,
    name,
    href,
    description,

    className = "",
} = Astro.props;

// Validate that at least one image source is provided
if (!heroImage && !heroImageSrc) {
    throw new Error("Either heroImage or heroImageSrc must be provided");
}
---

<HoverArticle
    classList={`relative w-full overflow-hidden group ${className}`}
    href={href}
>
    {
        heroImage ? (
            <Picture
                src={heroImage}
                alt={name}
                formats={["avif", "webp"]}
                class="absolute inset-0 w-full h-full object-cover"
            />
        ) : (
            <img
                src={heroImageSrc}
                alt={name}
                class="absolute inset-0 w-full h-full object-cover  rounded-2xl"
            />
        )
    }

    <div
        class="absolute inset-0 bg-gradient-to-t from-black/70 via-black/20 rounded-2xl to-transparent"
    >
    </div>

    <div class="absolute bottom-0 right-0 p-6 text-right">
        <H1 color="white" position="end">{name}</H1>
        <p class="text-sm md:text-base text-white/90">
            {description}
        </p>
    </div>
</HoverArticle>

