---
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"businesses">;

const entry: Props = Astro.props;
const { title, preview, heroImage } = entry.data;

const slug = entry.slug;
---

<a href={`/businesses/${slug}/`}>
    <img
        class="rounded-3xl aspect-video object-cover"
        src={heroImage}
        alt={title}
    />

    <h3
        class="text-gray mt-0 mb-0 pt-3 pb-1 font-serif text-3xl font-bold no-underline"
    >
        {title}
    </h3>

    <p
        class="text-gray mt-0 mb-0 font-sans text-base font-light leading-snug no-underline"
    >
        {preview}
    </p>
</a>
