---
import { faFacebook } from "@fortawesome/free-brands-svg-icons/faFacebook";
import { faInstagram } from "@fortawesome/free-brands-svg-icons/faInstagram";
import { faLink } from "@fortawesome/free-solid-svg-icons/faLink";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import Button from "../elements/Button.vue";
import { faTiktok } from "@fortawesome/free-brands-svg-icons";

type Props = {
    instagramLink: string | undefined;
    websiteLink: string | undefined;
    facebookLink: string | undefined;
    tiktokLink?: string | undefined;
};

const { instagramLink, websiteLink, facebookLink, tiktokLink }: Props =
    Astro.props;
---

<div>
    <div class="flex flex-row flex-wrap justify-center gap-5">
        {
            instagramLink && (
                <Button shape="circle" size="lg" href={instagramLink}>
                    <span>
                        <FontAwesomeIcon
                            className="h-5 w-5"
                            icon={faInstagram}
                        />
                    </span>
                </Button>
            )
        }
        {
            tiktokLink && (
                <Button shape="circle" size="lg" href={tiktokLink}>
                    <span>
                        <FontAwesomeIcon className="h-5 w-5" icon={faTiktok} />
                    </span>
                </Button>
            )
        }
        {
            websiteLink && (
                <Button shape="circle" size="lg" href={websiteLink}>
                    <span>
                        <FontAwesomeIcon className="h-5 w-5" icon={faLink} />
                    </span>
                </Button>
            )
        }
        {
            facebookLink && (
                <Button shape="circle" size="lg" href={facebookLink}>
                    <span>
                        <FontAwesomeIcon
                            className="h-5 w-5"
                            icon={faFacebook}
                        />
                    </span>
                </Button>
            )
        }
    </div>
</div>
