---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import GoogleMap from "@/components/businesses/GoogleMap.astro";
import LightBox from "@/components/businesses/LightBox.tsx";
import type { SlideImage } from "yet-another-react-lightbox";
import PlaceCard from "@/components/businesses/PlaceCard.astro";

import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";

import { faLink } from "@fortawesome/free-solid-svg-icons/faLink";
import { faFacebook } from "@fortawesome/free-brands-svg-icons/faFacebook";
import { faInstagram } from "@fortawesome/free-brands-svg-icons/faInstagram";
import { getEntries } from "astro:content";

export async function getStaticPaths() {
    const businesses = await getCollection("businesses");
    return businesses.map((business) => ({
        params: { slug: business.slug },
        props: business,
    }));
}

type Props = CollectionEntry<"businesses">;

const entry: Props = Astro.props;
const {
    title,
    description,
    type,
    bannerImage,
    heroImage,
    streetAddress,
    additionalImages,
    tags,
    openDaysStatement,
    websiteLink,
    facebookLink,
    instagramLink,
} = entry.data;

const businessCategories = await getEntries(entry.data.businessCategories);

const { Content } = await entry.render();

const slides: SlideImage[] = additionalImages.map((slide: string) => ({
    src: slide,
}));

const businesses: CollectionEntry<"businesses">[] =
    await getCollection("businesses");

function shuffleBusinesses(array: CollectionEntry<"businesses">[]) {
    for (let i = array.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
    }
    return array;
}

const additional_places = shuffleBusinesses(
    businesses.filter((x) => x.data.type === type && x.data.title != title)
).slice(0, 3);
---

<Layout>
    <style>
        @keyframes parallax-foreground {
            from {
                transform: translateY(10vh);
            }
            to {
                transform: translateY(-500px);
            }
        }

        @keyframes parallax-background {
            from {
                transform: translateY(0px);
            }
            to {
                transform: translateY(250px);
            }
        }

        @supports (animation-timeline: --parallax-background) {
            @media (prefers-reduced-motion: no-preference) {
                #parallax-foreground {
                    view-timeline-name: --parallax-foreground;
                }

                #business-content {
                    animation: parallax-foreground both;
                    animation-timing-function: ease-in-out;

                    animation-timeline: --parallax-foreground;
                    animation-range: 0% 50%;
                }

                #parallax-background {
                    view-timeline-name: --parallax-background;
                }

                #banner-image {
                    animation: parallax-background both;
                    animation-timing-function: ease-in-out;

                    animation-timeline: --parallax-background;
                    animation-range: 60% 100%;
                }
            }
        }
    </style>

    <article class="my-5 mx-8">
        <div class="h-[350px]" id="parallax-background">
            <img
                id="banner-image"
                class="rounded-3xl w-full h-[80vh] object-cover sticky"
                src={bannerImage}
                alt="banner image"
            />
            <img
                data-pagefind-meta="image[src], image_alt[alt]"
                src={heroImage}
                alt="hero image"
                class="hidden"
            />
        </div>
        <div id="parallax-foreground">
            <div
                id="business-content"
                class="flex flex-col items-center gap-6 mx-9 mb-5"
            >
                <section
                    class="gap-12
							bg-white
							rounded-[40px]
							flex
							flex-col
							justify-center
							items-center
							max-w-[1200px]
							mt-0
							p-[3.5rem] p-y-[3rem] pb-[4.5rem] static"
                >
                    <div class="prose">
                        <div class="title grid gap-[24px]">
                            <div class="flex flex-row gap-5 justify-center">
                                {
                                    businessCategories &&
                                        businessCategories.map((bc) => (
                                            <p class="uppercase text-center">
                                                <span data-pagefind-filter="type">
                                                    {bc.data.name}
                                                </span>
                                            </p>
                                        ))
                                }
                            </div>
                            <h1
                                class="color-coral capitalize text-center font-merriweather font-bold text-coral text-mega text-balance"
                            >
                                {title}
                            </h1>
                            <p class="text-gray-dark text-center">
                                {openDaysStatement}
                            </p>
                            <div class="flex flex-row gap-5 justify-center">
                                {
                                    instagramLink && (
                                        <a
                                            href={instagramLink}
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            class="text-center text-gray-dark p-3 border border-1 border-black rounded-full"
                                        >
                                            <span>
                                                <FontAwesomeIcon
                                                    className="h-5 w-5"
                                                    icon={faInstagram}
                                                />
                                            </span>
                                        </a>
                                    )
                                }

                                {
                                    websiteLink && (
                                        <a
                                            href={websiteLink}
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            class="text-center text-gray-dark p-3 border border-1 border-black rounded-full"
                                        >
                                            <span>
                                                <FontAwesomeIcon
                                                    className="h-5 w-5"
                                                    icon={faLink}
                                                />
                                            </span>
                                        </a>
                                    )
                                }
                                {
                                    facebookLink && (
                                        <a
                                            href={facebookLink}
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            class="text-center text-gray-dark p-3 border border-1 border-black rounded-full"
                                        >
                                            <span>
                                                <FontAwesomeIcon
                                                    className="h-5 w-5"
                                                    icon={faFacebook}
                                                />
                                            </span>
                                        </a>
                                    )
                                }
                            </div>
                            <p class="text-gray-dark">
                                {description}
                            </p>
                            <div>
                                <LightBox slides={slides} client:load />
                            </div>

                            <style is:global>
                                #article-content-grid {
                                    display: grid;

                                    grid-template-areas:
                                        "open-hours-title . business-contact-title"
                                        "open-hours spacer business-contact";

                                    grid-template-columns: 1fr 0.5px 1fr;
                                    column-gap: 2rem;

                                    p {
                                        grid-column: 1/-1;
                                        margin-top: 1rem;
                                    }

                                    td {
                                        font-size: 1rem;
                                        font-weight: 300;
                                        line-height: 124%;
                                    }

                                    td {
                                        padding-bottom: 10px;
                                    }

                                    h2 {
                                        font-family: "Merriweather", serif;
                                        font-weight: 400;
                                        font-size: 2rem;
                                        line-height: 1.12;
                                        margin-bottom: 0.5rem;
                                        text-align: center;
                                        color: var(--coral);

                                        + table tr :last-child {
                                            text-align: right;
                                        }
                                    }

                                    h2#open-hours {
                                        grid-area: open-hours-title;
                                        text-align: center;
                                    }

                                    h2#open-hours + table {
                                        grid-area: open-hours;
                                    }

                                    h2#business-contact {
                                        grid-area: business-contact-title;
                                    }

                                    h2#business-contact + table {
                                        grid-area: business-contact;
                                    }
                                }

                                #article-content-grid::before {
                                    grid-area: spacer;
                                    content: "";
                                    height: 100%;
                                    background-color: black;
                                }
                            </style>
                            <div id="article-content-grid">
                                <Content />
                            </div>
                            {
                                tags && (
                                    <div class="flex flex-col items-center">
                                        <div class="flex flex-wrap gap-2 mt-4 justify-center w-[60%]">
                                            {tags.map((tag, i) => (
                                                <span class="text-center tracking-wide uppercase whitespace-nowrap rounded-xl py-2 px-3 text-xs font-normal leading-none text-black bg-[#ffd77a] font-lato">
                                                    {tag}
                                                </span>
                                            ))}
                                        </div>
                                    </div>
                                )
                            }
                            <div class="flex flex-row gap-5 justify-center">
                                {
                                    instagramLink && (
                                        <a
                                            href={instagramLink}
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            class="text-center text-gray-dark p-3 border border-1 border-black rounded-full"
                                        >
                                            <span>
                                                <FontAwesomeIcon
                                                    className="h-5 w-5"
                                                    icon={faInstagram}
                                                />
                                            </span>
                                        </a>
                                    )
                                }

                                {
                                    websiteLink && (
                                        <a
                                            href={websiteLink}
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            class="text-center text-gray-dark p-3 border border-1 border-black rounded-full"
                                        >
                                            <span>
                                                <FontAwesomeIcon
                                                    className="h-5 w-5"
                                                    icon={faLink}
                                                />
                                            </span>
                                        </a>
                                    )
                                }
                                {
                                    facebookLink && (
                                        <a
                                            href={facebookLink}
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            class="text-center text-gray-dark p-3 border border-1 border-black rounded-full"
                                        >
                                            <span>
                                                <FontAwesomeIcon
                                                    className="h-5 w-5"
                                                    icon={faFacebook}
                                                />
                                            </span>
                                        </a>
                                    )
                                }
                            </div>
                        </div>
                    </div>
                </section>
                <section class="w-full max-w-[1200px]">
                    <GoogleMap address={streetAddress} title={title} />
                </section>
                <section data-pagefind-ignore class="w-full max-w-[1200px]">
                    <h2
                        class="mb-5 color-coral text-center font-merriweather text-coral text-2xl line-height-relaxed"
                    >
                        Similar listings
                    </h2>

                    <div class="grid grid-cols-3 gap-4">
                        {additional_places.map((ap) => <PlaceCard {...ap} />)}
                    </div>
                </section>

                <div
                    class="w-full max-w-[1200px] flex justify-center align-center"
                >
                    <a
                        href="/businesses"
                        role="button"
                        class="border border-black text-gray bg-transparent rounded-full justify-center items-center px-4 py-2 font-serif text-base no-underline flex hover:bg-black hover:text-cream"
                    >
                        Back to results
                    </a>
                </div>
            </div>
        </div>
    </article>
</Layout>
