---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import GoogleMap from "@/components/businesses/GoogleMap.astro";
import LightBox from "@/components/businesses/LightBox.tsx";
import type { SlideImage } from "yet-another-react-lightbox";
import PlaceCard from "@/components/businesses/PlaceCard.astro";
import { Button } from "@/components/ui/button";

export async function getStaticPaths() {
	const businesses = await getCollection("businesses");
	return businesses.map((business) => ({
		params: { slug: business.slug },
		props: business,
	}));
}

type Props = CollectionEntry<"businesses">;

const entry: Props = Astro.props;
const {
	title,
	description,
	type,
	heroImage,
	longitude,
	latitude,
	additionalImages,
} = entry.data;

const { Content } = await entry.render();

const slides: SlideImage[] = additionalImages.map((slide: string) => ({
	src: slide,
}));

const businesses: CollectionEntry<"businesses">[] =
	await getCollection("businesses");
const additional_places = businesses.filter(
	(x) => x.data.type === type && x.data.title != title,
);
---

<Layout>
	<style>
		@keyframes parallax-background {
			to {
				transform: translateY(200px);
			}
		}

		@keyframes parallax-foreground {
			from {
				transform: translateY(-200px);
			}
		}
		@supports (animation-timeline: --parallax-background) {
			@media (prefers-reduced-motion: no-preference) {
				#parallax-background {
					view-timeline-name: --parallax-background;
				}

				#hero-image {
					animation: parallax-background both;
					animation-timing-function: ease-in-out;

					animation-timeline: --parallax-background;
					animation-range: 60% 120%;
				}

				#parallax-foreground {
					view-timeline-name: --parallax-foreground;
				}

				#business-content {
					animation: parallax-foreground both;
					animation-timing-function: ease-in-out;

					animation-timeline: --parallax-foreground;
					animation-range: 0% 120%;
				}
			}
		}
	</style>

	<article class="py-[3rem] px-[1rem] mb-5">
		<div class="h-[350px]" id="parallax-background">
			<img
				id="hero-image"
				data-pagefind-meta="image[src], image_alt[alt]"
				class="rounded-3xl w-full h-[500px] object-cover sticky"
				src={heroImage}
				alt="hero image"
			/>
		</div>
		<div id="parallax-foreground">
			<div id="business-content" class="flex flex-col gap-6 mx-8 mb-5">
				<section
					class="gap-12
							bg-white
							rounded-[40px]
							flex
							flex-col
							justify-center
							items-center
							max-w-[1200px]
							mt-0
							p-[3.5rem] p-y-[3rem] pb-[4.5rem] static"
				>
					<div class="prose">
						<div class="title grid gap-[24px]">
							<p class="uppercase text-center">
								<span data-pagefind-filter="type">{type}</span>
							</p>
							<h1
								class="color-coral text-center font-merriweather font-bold text-coral text-[3rem] text-balance"
							>
								{title}
							</h1>
							<div>
								<p>{description}</p>
							</div>
							<div>
								<LightBox slides={slides} client:load />
							</div>
							<div>
								<Content />
							</div>
						</div>
					</div>
				</section>
				<section>
					<GoogleMap
						longitude={longitude}
						latitude={latitude}
						title={title}
					/>
				</section>
				<section data-pagefind-ignore>
					<h2
						class="color-coral text-center font-merriweather text-coral text-2xl line-height-relaxed"
					>
						Similar listings
					</h2>

					<div class="grid grid-cols-3 gap-4">
						{additional_places.map((ap) => <PlaceCard {...ap} />)}
					</div>
				</section>

				<div class="flex justify-center align-center">
					<a
						href="/businesses"
						role="button"
						class="border border-black text-gray bg-transparent rounded-full justify-center items-center px-4 py-2 font-serif text-base no-underline flex hover:bg-black hover:text-cream"
					>
						Back to results
					</a>
				</div>
			</div>
		</div>
	</article>
</Layout>
