---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faSearch } from "@fortawesome/free-solid-svg-icons/faSearch";

import { type CollectionEntry, getCollection } from "astro:content";

let businessTypes = [
    {
        Slug: "bakery",
        Name: "Bakery"
    },
    {
        Slug: "bar",
        Name: "Bar"
    }
    ] ;

const businesses: CollectionEntry<"businesses">[] = await getCollection("businesses");

---
<script is:inline src="/pagefind/pagefind-modular-ui.js"></script>
<script is:inline>

    window.addEventListener('DOMContentLoaded', (event) => {

        const instance = new PagefindModularUI.Instance();

        instance.add(new PagefindModularUI.Input({
            inputElement: "#search"
        }));

        instance.add(new PagefindModularUI.ResultList({
            containerElement: "#results",
            placeholderTemplate: () => {
                const template = document.querySelector("#search-result");
                const clone = template.content.cloneNode(true);

                const container = document.createElement('span');
                container.appendChild(clone);
                
                return container;

            },
            resultTemplate: (result) => {
                console.log(result);

                const template = document.querySelector("#search-result");
                const clone = template.content.cloneNode(true);
                clone.querySelector(".pagefind-ui__result-link").href = result.url;
                

                clone.querySelector(".pagefind-ui__result-thumb>a").href = result?.url ?? "";

                clone.querySelector(".pagefind-ui__result-body-link").textContent = result?.meta.title ?? "";
                clone.querySelector(".pagefind-ui__result-excerpt").textContent = result?.meta.content ?? "";

                console.log(                
                    clone
                );

                clone.querySelector(".pagefind-ui__result-image").src = result?.meta?.image ?? "";
                clone.querySelector(".pagefind-ui__result-image").alt = result?.meta?.image_alt ?? "";
                const container = document.createElement('span');
                container.appendChild(clone);
                
                return container;
            }
        }));

        instance.add(new PagefindModularUI.FilterPills({
            containerElement: "#filter-author",
            filter: "type",
            alwayasShow: true,
            selectMultiple: true
        }));

        instance.triggerSearch("shop");
    });
</script>

<form
    id="search-form"
        class="pagefind-ui__form flex flex-col items-center gap-5 w-full max-w-[500px] lg:max-w-[960px] lg:px-6" 
        role="search"
        aria-label="Search this site"
    >
    <div class="flex flex-row items-center gap-2 text-black py-4 w-full">
        <button type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" class="ikonik-9adjq"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.3851 15.4457C11.7348 17.5684 7.85535 17.4013 5.39857 14.9445C2.76253 12.3085 2.76253 8.03464 5.39857 5.3986C8.03461 2.76256 12.3085 2.76256 14.9445 5.3986C17.4013 7.85538 17.5684 11.7348 15.4457 14.3851L20.6013 19.5407C20.8942 19.8336 20.8942 20.3085 20.6013 20.6014C20.3085 20.8943 19.8336 20.8943 19.5407 20.6014L14.3851 15.4457ZM6.45923 13.8839C4.40898 11.8336 4.40898 8.50951 6.45923 6.45926C8.50948 4.40901 11.8336 4.40901 13.8839 6.45926C15.9326 8.50801 15.9341 11.8287 13.8884 13.8794C13.8868 13.8809 13.8853 13.8823 13.8838 13.8839C13.8823 13.8854 13.8808 13.8869 13.8793 13.8884C11.8287 15.9341 8.50798 15.9326 6.45923 13.8839Z" fill="currentColor" class="path-1b5n5"></path></svg>
        </button>
        <input
        id="search"
            class="pagefind-ui__search-input w-full bg-transparent border-b border-solid border-black font-light text-current text-3xl py-3 placeholder-current tracking-wider"
            type="text"
            placeholder="Search sharrow vale"
            autocapitalize="none"
            enterkeyhint="search"
        />
    </div>
    

</form>

<div id="filter" class="pagefind-ui__drawer flex-1">
    <div id="filter-author"></div>
</div>

<!-- <form id="search">
    <input type="text"/>
    <button type="submit">Search</button>
</form> -->

<ol id="results" class="pagefind-ui__results max-w-[1400px] grid grid-cols-2 lg:grid-cols-3 grid-rows-[1fr_auto_auto] gap-x-6">

</ol>

<template id="search-result">
    <li class="pagefind-ui__result grid grid-rows-[subgrid] row-span-3 transition-all duration-200 ease-in-out hover:scale-[102%]">
        <div class="pagefind-ui__result-thumb">
            <a class="pagefind-ui__result-link" href="">
                <img class="pagefind-ui__result-image object-cover rounded-lg min-w-0 aspect-[3/2]" src="" alt="hero image" />
            </a>
        </div>
        <div class="pagefind-ui__result-inner grid grid-rows-[subgrid] row-span-2">
            <h3 class="pagefind-ui__result-title pt-4 pb-2">
                <a class="pagefind-ui__result-body-link" href=""></a>
            </h3>
            <p class="pagefind-ui__result-excerpt pb-5"></p>
        </div>
    </li>
</template>

<!--
<div id="search" class="w-full">
    <div class="pagefind-ui pagefind-ui--reset">
        <form
        id="pagefind-search"
            class="pagefind-ui__form flex flex-col items-center gap-5"
            role="search"
            aria-label="Search this site"
            action="javascript:void(0);"
        >
            <input
            id="search-input"
                class="pagefind-ui__search-input max-w-[60%] mx-auto border-b border-solid border-black text-black py-4 pr-[2px] text-[1.75rem] font-light bg-transparent leading-[100%]"
                type="text"
                placeholder="Search"
                autocapitalize="none"
                enterkeyhint="search"
            />
            <button class="pagefind-ui__search-clear hidden">
                Clear
            </button>
            <button type="submit">
                <FontAwesomeIcon className="h-5 w-5" icon={faSearch} />
                submit
            </button>
            <div class="pagefind-ui__drawer flex-1">
                <fieldset class="pagefind-ui__filter-panel">
                    <legend class="pagefind-ui__filter-panel-label hidden">
                        Filters
                    </legend>
                    <details class="pagefind-ui__filter-block" open="">
                        <summary class="pagefind-ui__filter-name hidden">
                            Type
                        </summary>
                        <fieldset class="pagefind-ui__filter-group flex flex-wrap flex-row gap-2 justify-center max-w-[60%] mx-auto">
                            <legend class="hidden">type</legend>
                            {businessTypes.map((type) => (
                                <div class="pagefind-ui__filter-value transition-transform duration-200 ease transform hover:scale-[1.08]">
                                    <input
                                        class="pagefind-ui__filter-checkbox hidden"
                                        type="checkbox"
                                        id={`type-${type.Slug}`}
                                        name="type"
                                        value={type.Slug}
                                    />
                                    <label
                                        class="pagefind-ui__filter-label font-serif border border-black cursor-pointer rounded-full px-2 py-1"
                                        for={`type-${type.Slug}`}
                                    >
                                        {type.Name}
                                    </label>
                                </div>
                            ))}
                        </fieldset>
                    </details>
                </fieldset>
                <div class="pagefind-ui__results-area flex flex-col items-center gap-5 py-10">
                    <p class="pagefind-ui__message">results for ___</p>
                    <ol id="results" class="pagefind-ui__results max-w-[1400px] grid grid-cols-2 lg:grid-cols-3 grid-rows-[1fr_auto_auto] gap-x-6">
                        {businesses.map((business) => (
                            <li class="pagefind-ui__result grid grid-rows-[subgrid] row-span-3 transition-all duration-200 ease-in-out">
                                <div class="pagefind-ui__result-thumb">
                                    <img
                                        class="pagefind-ui__result-image object-cover rounded-lg min-w-0 aspect-[3/2]"
                                        src={business.data.heroImage}
                                        alt="hero image"
                                    />
                                </div>
                                <div class="pagefind-ui__result-inner grid grid-rows-[subgrid] row-span-2">
                                    <h3 class="pagefind-ui__result-title pt-4 pb-2">
                                        <a
                                            class="pagefind-ui__result-link"
                                            href={`/businesses/${business.slug}/`}
                                        >
                                            {business.data.title}
                                        </a>
                                    </h3>
                                    <p class="pagefind-ui__result-excerpt pb-5">
                                        {business.data.preview}
                                    </p>
                                </div>
                            </li>
                        ))}
                    </ol>
                </div>
            </div>
        </form>
    </div>
</div> -->