---
import H2 from "@/components/elements/headers/H2.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import PlaceCardWide from "../placeCards/PlaceCardWide.vue";
import Button from "../elements/Button.vue";

const promotions: CollectionEntry<"businesses">[] =
    await getCollection("businesses");

const categories = await getCollection("category");

const bussinessItems = promotions.slice(0, 4).map((business) => {

    const businessCategories = categories.filter((category) => 
        category.data.isVisible && business.data.categories.some((c) => c.slug === category.slug)
    ).slice(0,2);

    const placeCardCategories = businessCategories.map((category) => {
        return {
            name: category.data.name,
            slug: category.slug
        }
    });

    return {
        image: business.data.heroImage,
        title: business.data.name,
        content: business.data.description,
        href: `/businesses/${business.slug}`,

        categories: placeCardCategories,
    }
});
---

<section class="grid grid-cols-[300px_1fr] gap-12">
    <div>
        <H2 position="start" color="coral">The latest news <wbr/> & updates</H2>
        <Button :href="/category/news">See all posts</Button>
    </div>
    <div class="flex flex-col gap-3">
        {bussinessItems.map((item) => (
            <PlaceCardWide
            image={item.image}
            title={item.title}
            content={item.content}
            categories={item.categories}
            href={item.href}/>
        ))}
    </div>
</section>