---
import H2 from "@/components/elements/headers/H2.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import PlaceCardWide from "../placeCards/PlaceCardWide.vue";
import Button from "../elements/Button.vue";
import { getImage } from "astro:assets";

const promotions: CollectionEntry<"businesses">[] =
    await getCollection("businesses");

const tags = await getCollection("tags");

const bussinessItems = await Promise.all(
    promotions.slice(0, 4).map(async (business) => {
        const businessCategories = tags
            .filter(
                (tag) =>
                    tag.data.isVisible &&
                    business.data.tags.some((c) => c.slug === tag.slug)
            )
            .slice(0, 2);

        const placeCardCategories = businessCategories.map((tag) => {
            return {
                name: tag.data.name,
                slug: tag.slug,
            };
        });

        const heroImageResult = await getImage({
            src: business.data.heroImage,
            format: "webp",
        });

        const heroImageSrc = heroImageResult.src;

        return {
            image: heroImageSrc,
            title: business.data.name,
            content: business.data.description,
            href: `/businesses/${business.slug}`,

            tags: placeCardCategories,
        };
    })
);
---

<section class="grid md:grid-cols-[300px_1fr] gap-12">
    <div class="flex flex-col items-start gap-3">
        <H2 position="start" color="coral">The latest news <wbr /> & updates</H2
        >
        <Button href="/tag/news">See all posts</Button>
    </div>
    <div class="flex flex-col gap-3" id="news-items">
        {
            bussinessItems.map((item) => (
                <PlaceCardWide
                    image={item.image}
                    title={item.title}
                    content={item.content}
                    tags={item.tags}
                    href={item.href}
                />
            ))
        }
    </div>
</section>

<style>
    #news-items {
        container-name: search-results;
        container-type: inline-size;
    }
</style>
