---
import H2 from "@/components/elements/headers/H2.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import PlaceCardWide from "../placeCards/PlaceCardWide.vue";
import Button from "../elements/Button.vue";
import { getImage } from "astro:assets";

const tags = await getCollection("tags");

const news = await getCollection("articles");

const promotionItems = await Promise.all(
    news.slice(0, 4).map(async (item) => {
        let image = await getImage({
            src: item.data.heroImage,
            width: 300,
            format: "webp",
        });
        let imageUrl = image.src;

        const itemTags = item.data.tags.map((tag) => tag.slug);
        const articleTags = tags.filter((tag) => itemTags.includes(tag.slug));

        const tagPreviews = articleTags.map((tag) => {
            return { slug: tag.slug, name: tag.data.name };
        });

        return {
            title: item.data.name,
            image: imageUrl,
            tags: tagPreviews,
            content: item.data.description,
            href: `/articles/${item.slug}`,
        };
    })
);
---

<section class="grid md:grid-cols-[300px_1fr] gap-12">
    <div class="flex flex-col items-start gap-3">
        <H2 position="start" color="coral">The latest news <wbr /> & updates</H2
        >
        <Button href="/articles">See all posts</Button>
    </div>
    <div class="flex flex-col gap-3" id="news-items">
        {
            promotionItems.map((item) => (
                <PlaceCardWide
                    image={item.image}
                    title={item.title}
                    content={item.content}
                    tags={item.tags}
                    href={item.href}
                />
            ))
        }
    </div>
</section>

<style>
    #news-items {
        container-name: search-results;
        container-type: inline-size;
    }
</style>
