---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/content/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import defaultBannerImage from "@/assets/images/index/home/guest-road.jpg";
import Nav from "@/components/elements/Nav.astro";

type Props = {
    pagefindIgnore?: boolean;
    image?: ImageMetadata;
    imgAlt?: string;
    description?: string;
    title: string;
    classList?: string;
    headerTop?: string[];
    headerBottom?: string[];
    HeaderContent?: (_props: any) => JSX.Element;
};

const {
    pagefindIgnore,
    image = defaultBannerImage,
    imgAlt,
    description,
    HeaderContent,
    title,
    headerTop,
    headerBottom,
}: Props = Astro.props;
---

<html lang="en" class="scroll-smooth">
    <head>
        <BaseHead
            title={title || SITE_TITLE}
            description={description || SITE_DESCRIPTION}
        />
    </head>
    <body
        class="flex min-h-screen flex-col bg-cream font-lato"
        data-pagefind-ignore={pagefindIgnore}
    >
        {
            HeaderContent && (
                <Header
                    image={image}
                    imgAlt={imgAlt}
                    title={title}
                    headerTop={headerTop}
                    headerBottom={headerBottom}
                    Content={HeaderContent}
                />
            )
        }

        {
            HeaderContent === undefined && (
                <div class="">
                    <Nav color="secondary" />
                </div>
            )
        }

        <main class="flex flex-1 flex-col pb-20 pt-8 md:pt-16">
            <slot />
        </main>

        <Footer />
    </body>
</html>
