---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"places">["data"];

const { title, description, type, heroImage, longitude, latitude }: Props =
	Astro.props;
---

<Layout>
	<article class="py-[3rem] px-[1rem]">
		<div class="h-[350px]">
			<img
				class="rounded-3xl w-full h-[1065px] object-cover sticky"
				src={heroImage}
				alt="hero image"
			/>
		</div>
		<section
			class="gap-12
			mx-[2rem]
		bg-white
		rounded-[40px]
		flex
		flex-col
		justify-center
		items-center
		max-w-[1200px]
		mt-0
		p-[3.5rem] p-y-[3rem] pb-[4.5rem] static"
		>
			<div class="prose">
				<div class="title grid gap-[24px]">
					<p class="uppercase text-center">
						<span data-pagefind-filter="type">{type}</span>
					</p>
					<h1
						class="color-coral text-center font-merriweather font-bold text-coral text-[3rem] text-balance"
					>
						{title}
					</h1>

					<section>
						<p>{description}</p>
					</section>

					<section>
						<img
							class="rounded-3xl w-full h-[400px] object-cover"
							src="https://cdn.prod.website-files.com/66637ca2fcf1b32b5acc349c/66673de73858e856c9b96e35_sfc%205.avif"
							alt=""
						/>
					</section>

					<section>
						<slot />
					</section>
				</div>
			</div>
		</section>
	</article>

	<section id="map" class="h-[400px] mx-[3rem] rounded-3xl"></section>

	<template
		data-longitude={longitude}
		data-latitude={latitude}
		data-title={title}></template>

	<script
		async
		defer
		is:inline
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGvxOSNHyYXvis9yTKjBuYIJK87dvyxsM&callback=initMap"
	></script>
	<script is:inline defer>
		let map;
		let marker;

		const { longitude, latitude, title } =
			document.querySelector("template").dataset;

		const lng = parseFloat(longitude);
		const lat = parseFloat(latitude);

		async function initMap() {
			const marketLocation = { lat, lng };

			map = new google.maps.Map(document.getElementById("map"), {
				center: marketLocation,
				zoom: 18,
			});

			marker = new google.maps.Marker({
				position: marketLocation,
				map,
				title: title,
				icon: "https://cdn.prod.website-files.com/66637bfce5ac00faa1c7cbd8/666c16f69717f0890a570e5e_Pin%20icon.svg",
			});
		}

		initMap();
	</script>
</Layout>
